{% comment %} {% load static %} {% endcomment %}
{% comment %} <!DOCTYPE html> {% endcomment %}
{% comment %} <html lang="en"> {% endcomment %}
  {% comment %} <head> {% endcomment %}
    {% comment %} <meta charset="utf-8" /> {% endcomment %}
    {% comment %} <meta content="width=device-width, initial-scale=1.0" name="viewport" /> {% endcomment %}
    {% comment %} <title>CRVS</title> {% endcomment %}
    {% comment %} <meta content="" name="description" /> {% endcomment %}
    {% comment %} <meta content="" name="keywords" /> {% endcomment %}
{% comment %}  {% endcomment %}
    {% comment %} <!-- Favicons --> {% endcomment %}
    {% comment %} <link href="{% static 'assets1/img/favicon.png' %}" rel="icon" /> {% endcomment %}
    {% comment %} <link href="{% static 'assets/img/logo1.png' %}" rel="icon" /> {% endcomment %}
{% comment %}  {% endcomment %}
    {% comment %} <!-- Google Fonts --> {% endcomment %}
    {% comment %} <link {% endcomment %}
      {% comment %} href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" {% endcomment %}
      {% comment %} rel="stylesheet" {% endcomment %}
    {% comment %} /> {% endcomment %}
{% comment %}  {% endcomment %}
    {% comment %} <!-- Vendor CSS Files --> {% endcomment %}
    {% comment %} <link href="{% static 'assets1/vendor/aos/aos.css' %}" rel="stylesheet" /> {% endcomment %}
    {% comment %} <link {% endcomment %}
      {% comment %} href="{% static 'assets1/vendor/bootstrap/css/bootstrap.min.css' %}" {% endcomment %}
      {% comment %} rel="stylesheet" {% endcomment %}
    {% comment %} /> {% endcomment %}
    {% comment %} <link {% endcomment %}
      {% comment %} href="{% static 'assets1/vendor/bootstrap-icons/bootstrap-icons.css' %}" {% endcomment %}
      {% comment %} rel="stylesheet" {% endcomment %}
    {% comment %} /> {% endcomment %}
    {% comment %} <link {% endcomment %}
      {% comment %} href="{% static 'assets1/vendor/boxicons/css/boxicons.min.css' %}" {% endcomment %}
      {% comment %} rel="stylesheet" {% endcomment %}
    {% comment %} /> {% endcomment %}
    {% comment %} <link {% endcomment %}
      {% comment %} href="{% static 'assets1/vendor/glightbox/css/glightbox.min.css' %}" {% endcomment %}
      {% comment %} rel="stylesheet" {% endcomment %}
    {% comment %} /> {% endcomment %}
    {% comment %} <link {% endcomment %}
      {% comment %} href="{% static 'assets1/vendor/remixicon/remixicon.css' %}" {% endcomment %}
      {% comment %} rel="stylesheet" {% endcomment %}
    {% comment %} /> {% endcomment %}
    {% comment %} <link {% endcomment %}
      {% comment %} href="{% static 'assets1/vendor/swiper/swiper-bundle.min.css' %}" {% endcomment %}
      {% comment %} rel="stylesheet" {% endcomment %}
    {% comment %} /> {% endcomment %}
{% comment %}  {% endcomment %}
    {% comment %} <!-- Template Main CSS File --> {% endcomment %}
    {% comment %} <link href="{% static 'assets1/css/style.css' %}" rel="stylesheet" /> {% endcomment %}
  {% comment %} </head> {% endcomment %}
  {% comment %} <body> {% endcomment %}
    {% comment %} <section> {% endcomment %}
      {% comment %} <footer id="footer"> {% endcomment %}
        {% comment %} <div class="footer-top"> {% endcomment %}
          {% comment %} <div class="container"> {% endcomment %}
            {% comment %} <div class="row"> {% endcomment %}
              {% comment %} <div class="col-lg-3 col-md-6 footer-contact"> {% endcomment %}
                {% comment %} <h3>CRVS</h3> {% endcomment %}
                {% comment %} <p> {% endcomment %}
                  {% comment %} Jimma, Oromia<br /> {% endcomment %}
                  {% comment %} Ethiopia <br /><br /> {% endcomment %}
                  {% comment %} <strong>Phone:</strong> +251-912-34-56-33<br /> {% endcomment %}
                  {% comment %} <strong>Email:</strong> jimmacrvs@gmail.com<br /> {% endcomment %}
                {% comment %} </p> {% endcomment %}
              {% comment %} </div> {% endcomment %}
{% comment %}  {% endcomment %}
              {% comment %} <div class="col-lg-3 col-md-6 footer-links"> {% endcomment %}
                {% comment %} <h4>Navigation</h4> {% endcomment %}
                {% comment %} <ul> {% endcomment %}
                  {% comment %} <li> {% endcomment %}
                    {% comment %} <i class="bx bx-chevron-right"></i> <a href="#">Home</a> {% endcomment %}
                  {% comment %} </li> {% endcomment %}
                  {% comment %} <li> {% endcomment %}
                    {% comment %} <i class="bx bx-chevron-right"></i> <a href="#">About us</a> {% endcomment %}
                  {% comment %} </li> {% endcomment %}
                  {% comment %} <li> {% endcomment %}
                    {% comment %} <i class="bx bx-chevron-right"></i> <a href="#">Services</a> {% endcomment %}
                  {% comment %} </li> {% endcomment %}
                  {% comment %} <li> {% endcomment %}
                    {% comment %} <i class="bx bx-chevron-right"></i> {% endcomment %}
                    {% comment %} <a href="#">Terms of service</a> {% endcomment %}
                  {% comment %} </li> {% endcomment %}
                  {% comment %} <li> {% endcomment %}
                    {% comment %} <i class="bx bx-chevron-right"></i> {% endcomment %}
                    {% comment %} <a href="#">Privacy policy</a> {% endcomment %}
                  {% comment %} </li> {% endcomment %}
                {% comment %} </ul> {% endcomment %}
              {% comment %} </div> {% endcomment %}
{% comment %}  {% endcomment %}
              {% comment %} <div class="col-lg-3 col-md-6 footer-links"> {% endcomment %}
                {% comment %} <h4>Our Services</h4> {% endcomment %}
                {% comment %} <ul> {% endcomment %}
                  {% comment %} <li> {% endcomment %}
                    {% comment %} <i class="bx bx-chevron-right"></i> {% endcomment %}
                    {% comment %} <a href="#">Death Report</a> {% endcomment %}
                  {% comment %} </li> {% endcomment %}
                  {% comment %} <li> {% endcomment %}
                    {% comment %} <i class="bx bx-chevron-right"></i> {% endcomment %}
                    {% comment %} <a href="#">Divorce report</a> {% endcomment %}
                  {% comment %} </li> {% endcomment %}
                  {% comment %} <li> {% endcomment %}
                    {% comment %} <i class="bx bx-chevron-right"></i> {% endcomment %}
                    {% comment %} <a href="#">Birth certificate</a> {% endcomment %}
                  {% comment %} </li> {% endcomment %}
                  {% comment %} <li> {% endcomment %}
                    {% comment %} <i class="bx bx-chevron-right"></i> {% endcomment %}
                    {% comment %} <a href="#">Report Divorce</a> {% endcomment %}
                  {% comment %} </li> {% endcomment %}
                {% comment %} </ul> {% endcomment %}
              {% comment %} </div> {% endcomment %}
{% comment %}  {% endcomment %}
              {% comment %} <div class="col-lg-3 col-md-6 footer-links"> {% endcomment %}
                {% comment %} <h4>Our Social Networks</h4> {% endcomment %}
                {% comment %} <p> {% endcomment %}
                  {% comment %} Cras fermentum odio eu feugiat lide par naso tierra videa {% endcomment %}
                  {% comment %} magna derita valies {% endcomment %}
                {% comment %} </p> {% endcomment %}
                {% comment %} <div class="social-links mt-3"> {% endcomment %}
                  {% comment %} <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> {% endcomment %}
                  {% comment %} <a href="#" class="facebook" {% endcomment %}
                    {% comment %} ><i class="bx bxl-facebook"></i {% endcomment %}
                  {% comment %} ></a> {% endcomment %}
                  {% comment %} <a href="#" class="instagram" {% endcomment %}
                    {% comment %} ><i class="bx bxl-instagram"></i {% endcomment %}
                  {% comment %} ></a> {% endcomment %}
                  {% comment %} <a href="#" class="google-plus" {% endcomment %}
                    {% comment %} ><i class="bx bxl-skype"></i {% endcomment %}
                  {% comment %} ></a> {% endcomment %}
                  {% comment %} <a href="#" class="linkedin" {% endcomment %}
                    {% comment %} ><i class="bx bxl-linkedin"></i {% endcomment %}
                  {% comment %} ></a> {% endcomment %}
                {% comment %} </div> {% endcomment %}
              {% comment %} </div> {% endcomment %}
            {% comment %} </div> {% endcomment %}
          {% comment %} </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
{% comment %}  {% endcomment %}
        {% comment %} <div class="container footer-bottom clearfix"> {% endcomment %}
          {% comment %} <div class="copyright"> {% endcomment %}
            {% comment %} &copy; Copyright <strong><span></span></strong>. All Rights Reserved {% endcomment %}
          {% comment %} </div> {% endcomment %}
          {% comment %} <div class="credits">Designed by CS student group 2 member</div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
      {% comment %} </footer> {% endcomment %}
    {% comment %} </section> {% endcomment %}
{% comment %}  {% endcomment %}
    {% comment %} <!-- Vendor JS Files --> {% endcomment %}
    {% comment %} <script src="{% static 'assets1/vendor/aos/aos.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'assets1/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'assets1/vendor/glightbox/js/glightbox.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'assets1/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'assets1/vendor/swiper/swiper-bundle.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'assets1/vendor/waypoints/noframework.waypoints.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'assets1/vendor/php-email-form/validate.js' %}"></script> {% endcomment %}
{% comment %}  {% endcomment %}
    {% comment %} <!-- Template Main JS File --> {% endcomment %}
    {% comment %} <script src="{% static 'assets1/js/main.js' %}"></script> {% endcomment %}
  {% comment %} </body> {% endcomment %}
{% comment %} </html> {% endcomment %}
